{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} | Back Office{% endblock %}

{% block h1 %}Back Office{% endblock %}

{% block body %}

    <div class="row">



    
    </div>

{% endblock %}
